{
  "plugins": [
    "lodash",
    "idx",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  ],
  "presets": ["react-native"],
  "sourceMaps": true
}
